body{
	background:#1E1E24;
	text-align: center;
}
@font-face{
	src:url('AdventPro-SemiBold.ttf');
	font-family: Advent;
}
@font-face{
	src:url('Montserrat-Regular.ttf');
	font-family: Monst;
}
h1{
	 color: #7FE4AF;
	 font-family: Advent;
	 font-size: 7vh
}
p{
	color: #CACACA;
	text-align: justify;
	padding: 50px 50px;
	font-size: 1.2vh;
	font-family: Monst;
	word-spacing: 5px;
}